<!doctype html>
<html lang="in-ID" data-ng-app="angularhub" class="uk-height-1-1">
<head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title data-ng-bind="$state.current.data.pageTitle + ' | AngularHub'">AngularHub</title>
    <meta name="description" content="Seklumit POS Client">
    <meta name="keywords" content="Seklumit POS Client">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" id="favicon" />
    <link rel="stylesheet" media="all" href="bower_components/uikit/css/uikit.gradient.min.css" />
    <link rel="stylesheet" media="all" href="bower_components/uikit/css/components/search.gradient.min.css" />
    <link rel="stylesheet" media="all" href="bower_components/uikit/css/components/sticky.gradient.min.css" />
    <link rel="stylesheet" media="all" href="bower_components/please-wait/build/please-wait.css" />
    <link rel="stylesheet" media="screen" href="bower_components/angular-loading-bar/build/loading-bar.min.css"/>
    <link rel="stylesheet" media="screen" href="node_modules/github-calendar/dist/github-calendar.css"/>
    <link rel="stylesheet" media="all" href="styles/css/main.css"/>
</head>
<body data-ng-controller="AngularHubCtrl" class="uk-height-1-1">
<nav class="uk-navbar uk-navbar-attached" id="main-nav">
    <div style="padding: 0 0 0 0;" class="uk-container uk-container-center uk-width-medium-7-10  uk-hidden-small">
        <ul class="uk-navbar-nav" id="main-navbar-nav">
            <li><a href="" >Features</a></li>
            <li><a href="" >Business</a></li>
            <li><a href="" >Explore</a></li>
            <li><a href="" >Marketplace</a></li>
            <li><a href="" >Pricing</a></li>
        </ul>
        <div class="uk-navbar-flip" id="top-bar-right">
            <div class="uk-navbar-content uk-hidden-small">
                <form class="uk-search uk-margin-remove uk-display-inline-block">
                    <input class="uk-search-field" type="search" placeholder="">
                </form>
                <span class="uk-align-right text-link-nav"><a href="#">Signin</a> OR <a href="#">Signup</a></span>
            </div>
        </div>
    </div>
    <div style="padding: 0 0 0 0;" class="uk-container uk-container-center uk-width-medium-7-10  uk-hidden-large">
        <ul class="uk-navbar-nav" id="main-navbar-nav-small">
            <li class="uk-parent" data-uk-dropdown="{justify:'#main-nav'}">
                <a href="">Menu</a>
                <div class="uk-dropdown uk-dropdown-navbar">
                    <ul class="uk-nav uk-nav-navbar">
                        <li><a href="" >Features</a></li>
                        <li><a href="" >Business</a></li>
                        <li><a href="" >Explore</a></li>
                        <li><a href="" >Marketplace</a></li>
                        <li><a href="" >Pricing</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="uk-navbar-flip">
            <div class="uk-navbar-content">
                <span class="uk-align-right text-link-nav"><a href="#">Signin</a> OR <a href="#">Signup</a></span>
            </div>
        </div>
    </div>
</nav>
<div class="uk-container uk-container-center uk-width-1-1 uk-width-small-1-1 uk-width-medium-7-10 uk-width-large-7-10" style="padding: 0 0 0 0;margin-top: 20px;">
    <div class="uk-grid">
        <div class="uk-width-1-1 uk-width-small-1-1 uk-width-medium-3-10 uk-width-large-3-10">
            <div class="left-info">
                <div id="profile-photo-box" style="margin-bottom: 15px;">
                    <img data-ng-src="{{gitHubData.avatar_url}}" class="uk-border-rounded" alt="" />
                </div>
                <div ng-if="gitHubData.name !== null" id="profile-name-box">
                    <h2 class="login-name">{{gitHubData.name}}</h2>
                    <span class="uk-text-large" id="login-displayname">{{gitHubData.login}}</span>
                </div>
                <div ng-if="gitHubData.bio !== null" style="border-bottom: 1px solid #DDD; margin-top: 15px;" id="profile-description-box">
                  <p>{{gitHubData.bio}}</p>
                </div>
                <div style="margin-top:10px;border-bottom: 1px solid #DDD; padding-bottom:10px;" id="profile-1">
                    <ul class="uk-nav">
                        <li><a href="" class="my-link"><i class="uk-icon-github uk-icon-small"></i> Developer Program Member</a> </li>
                    </ul>
                </div>
                <div style="margin-top:10px;" id="profile-others-box">
                    <ul class="uk-nav">
                        <li><a href="" class="my-link"><i class="uk-icon-users"></i> {{gitHubData.company}}</a> </li>
                        <li><a href="" class="my-link"><i class="uk-icon-map-marker"></i> {{gitHubData.location}}</a> </li>
                        <li><a href="" class="my-link"><i class="uk-icon-link"></i> {{gitHubData.blog}}</a> </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="uk-width-1-1 uk-width-small-1-1 uk-width-medium-7-10 uk-width-large-7-10">
            <div class="user-nav-box uk-hidden-small" data-uk-sticky>
                <ul class="uk-subnav uk-subnav-pill" id="user-nav">
                    <li ui-sref-active="uk-active"><a ui-sref="home">Overview</a></li>
                    <li ui-sref-active="uk-active"><a ui-sref="repos">Repositories <span ng-if="gitHubData.public_repos !== 0" class="my-badges uk-border-rounded">{{gitHubData.public_repos}}</span></a></li>
                    <li ui-sref-active="uk-active"><a ui-sref="stars">Stars <span class="my-badges uk-border-rounded">150</span></a></li>
                    <li ui-sref-active="uk-active"><a ui-sref="followers">Followers <span class="my-badges uk-border-rounded">{{gitHubData.followers}}</span></a></li>
                    <li ui-sref-active="uk-active"><a ui-sref="following">Following <span class="my-badges uk-border-rounded">{{gitHubData.following}}</span></a> </li>
                </ul>
            </div>
            <div class="user-nav-box uk-hidden-large" data-uk-sticky>
                <ul class="uk-subnav uk-subnav-pill">
                    <li class="uk-parent" data-uk-dropdown="{justify:'#main-nav'}">
                        <a href="">User Menu</a>
                        <div class="uk-dropdown uk-dropdown-navbar">
                            <ul class="uk-nav uk-nav-navbar">
                                <li ui-sref-active="uk-active"><a ui-sref="home">Overview</a></li>
                                <li ui-sref-active="uk-active"><a ui-sref="repos">Repositories <span ng-if="gitHubData.public_repos !== 0" class="my-badges uk-border-rounded">{{gitHubData.public_repos}}</span></a></li>
                                <li ui-sref-active="uk-active"><a ui-sref="stars">Stars <span class="my-badges uk-border-rounded">150</span></a></li>
                                <li ui-sref-active="uk-active"><a ui-sref="followers">Followers <span class="my-badges uk-border-rounded">{{gitHubData.followers}}</span></a></li>
                                <li ui-sref-active="uk-active"><a ui-sref="following">Following <span class="my-badges uk-border-rounded">{{gitHubData.following}}</span></a> </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div style="margin-top: 30px;" class="box-content"><div data-ui-view></div></div>
        </div>
    </div>
</div>
<footer id="footer-main" class="uk-container uk-container-center uk-width-7-10" style="padding: 0 0 0 0; border-top: 1px solid #DDD; margin-top: 20px; padding: 10px 0 10px 0;">
    <div class="uk-grid">
        <div class="uk-align-left  uk-hidden-small">
            <ul class="uk-subnav uk-subnav-line footer-link">
                <li><a href="">Term</a> </li>
                <li><a href="">Privacy</a> </li>
                <li><a href="">Security</a> </li>
                <li><a href="">Status</a> </li>
                <li><a href="">Help</a> </li>
            </ul>
        </div>
        <div class="uk-align-center"><a href="" class="my-link"><i class="uk-icon uk-icon-github uk-icon-medium"></i> </a></div>
        <div class="uk-text-right uk-hidden-small">
            <ul class="uk-subnav uk-subnav-line footer-link">
                <li><a href="">Contact</a> </li>
                <li><a href="">API</a> </li>
                <li><a href="">Blog</a> </li>
                <li><a href="">About</a> </li>
            </ul>
        </div>
    </div>
</footer>
<script type="text/javascript" src="bower_components/please-wait/build/please-wait.min.js"></script>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/uikit/js/uikit.min.js"></script>
<script type="text/javascript" src="bower_components/uikit/js/components/search.min.js"></script>
<script type="text/javascript" src="bower_components/uikit/js/components/sticky.min.js"></script>
<script type="text/javascript" src="node_modules/github-calendar/dist/github-calendar.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="text/javascript" src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
<script type="text/javascript" src="bower_components/angularUtils-pagination/dirPagination.js"></script>
<script type="text/javascript" src="scripts/App.js"></script>
<script type="text/javascript" src="scripts/core/angularhub.core.js"></script>
<script type="text/javascript" src="scripts/core/angularhub.network.js"></script>
<script type="text/javascript" src="scripts/core/angularhub.route.js"></script>
<script type="text/javascript" src="scripts/core/angularhub.run.js"></script>
<script type="text/javascript" src="scripts/core/angularhub.controller.js"></script>
<script type="text/javascript" src="scripts/home.controller.js"></script>
<script type="text/javascript" src="scripts/repo.controller.js"></script>
<script type="text/javascript" src="scripts/start.controller.js"></script>
<script type="text/javascript" src="scripts/follower.controller.js"></script>
<script type="text/javascript" src="scripts/following.controller.js"></script>
</body>
</html>