@font-face {
    font-family: 'myriad_set_probold';
    src: url('../fonts/myriad/myriad-set-pro_bold-webfont.woff2') format('woff2'),
    url('../fonts/myriad/myriad-set-pro_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'myriad_set_promedium';
    src: url('../fonts/myriad/myriad-set-pro_medium-webfont.woff2') format('woff2'),
    url('../fonts/myriad/myriad-set-pro_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'myriad_set_prosemibold';
    src: url('../fonts/myriad/myriad-set-pro_semibold-webfont.woff2') format('woff2'),
    url('../fonts/myriad/myriad-set-pro_semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'myriad_set_protext';
    src: url('../fonts/myriad/myriad-set-pro_text-webfont.woff2') format('woff2'),
    url('../fonts/myriad/myriad-set-pro_text-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'myriad_set_prothin';
    src: url('../fonts/myriad/myriad-set-pro_thin-webfont.woff2') format('woff2'),
    url('../fonts/myriad/myriad-set-pro_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'myriad_set_proultralight';
    src: url('../fonts/myriad/myriad-set-pro_ultralight-webfont.woff2') format('woff2'),
    url('../fonts/myriad/myriad-set-pro_ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html, body{
    font-family: 'myriad_set_prothin', Arial, serif;
}
h3, h2, h1{
    font-family: 'myriad_set_prosemibold', Arial, serif;
}
h2{
    font-size: 28px;
}
h2.login-name{
    line-height: 28px;
    font-size: 28px;
    margin:0 0 0 0; padding:0 0 0 0;
}
.left-info, .box-content{
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px) {
    .left-info, .box-content{
        padding-left: 0;
        padding-right: 0;
    }
}
.uk-text-large#login-displayname{
    margin:0 0 0 0; padding:0 0 0 0;
    line-height: 20px; font-size: 20px;
}
.text-link-nav{
    margin:10px 0 10px 0;
}
.text-link-nav > a{
    font-family: 'myriad_set_promedium', Arial, serif;
    font-size: 16px;
}
.uk-navbar#main-nav{
    padding: 0 0 0 0;
    background: #ffffff;
    border-bottom: 1px solid #DDD;
}
.uk-navbar-nav#main-navbar-nav{
    height: auto;
}
.uk-navbar-nav#main-navbar-nav > li > a{
    padding: 15px 10px 15px 10px;
    height: auto;
    font-family: 'myriad_set_promedium', Arial, serif;
    font-size: 16px;
}
.uk-navbar-flip#top-bar-right{
    padding: 15px 0 15px 0;
}
.user-nav-box{
    border-bottom: 1px solid #DDD;
    padding:0 10px 0 10px;
    margin: 0 0 0 0;
    height: auto;
    background-color: #FFFFFF;
}
.uk-subnav-pill#user-nav{
    margin:0 0 0 0; padding:0 0 0 0;
}
.uk-subnav-pill#user-nav > li > a{
    padding: 15px 10px 15px 10px;
    margin:0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    font-family: 'myriad_set_prothin', Arial, serif;
    font-size: 16px;
    border:none;
    border-bottom: 2px solid transparent;
    height: 30px;
}
.uk-subnav-pill#user-nav > li > a:hover, .uk-subnav-pill#user-nav > li > a:focus{
    border:none;
    background-color: #FFFFFF;
    border-bottom: 2px solid #d85030;
    box-shadow: 0 0 0 0;
    color:#d85030;
}
.uk-subnav-pill#user-nav > li.uk-active > a{
    border:none;
    background-color: #FFFFFF;
    border-bottom: 2px solid #d85030;
    box-shadow: 0 0 0 0;
    color:#d85030;
}
.uk-badge.nav-badge{
    font-size: 14px;
    margin-bottom: 5px;
    font-family: 'myriad_set_prothin', Arial, serif;
}
.footer-link{
    font-family: 'myriad_set_prothin', Arial, serif;
    font-size: 12px;
}
.uk-panel.angularhub-panel{
    background-color: #FFFFFF;
    border: none;
    border-bottom: 1px solid #DDDDDD;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px 0 10px 0;
}
.uk-panel.angularhub-panel > h3.uk-panel-title{
    margin:0 0 0 0; padding: 0 0 0 0;
}
.uk-border-circle.my-circle{
    padding:0 0 0 0; margin:0 0 0 0;
}
a.my-link{
    color:#444444;
}
a.my-link:hover{
    color: #404040;
}
.my-badges{
    background-color: #DDDDDD;
    padding: 0 5px 0 5px;
    color: #1a1a1a;
    margin-right: 3px;
}
.uk-comment.my-comment > .uk-comment-header{
    border: none;
    background: #FFFFFF;
}
span.nama-lengkap-f{
    font-family: 'myriad_set_prosemibold', Arial, serif;
    font-size: 16px;
}
span.nama-login-f{
    font-family: 'myriad_set_promedium', Arial, serif;
}