<ul style="padding-top:5px;" class="uk-pagination uk-pagination-right">
    <li ng-if="boundaryLinks" ng-class="{ 'uk-disabled' : pagination.current == 1 }">
        <a href="" ng-click="setCurrent(1)"><i class="uk-icon-angle-double-left"></i></a>
    </li>
    <li ng-if="directionLinks" ng-class="{ 'uk-disabled' : pagination.current == 1 }">
        <a href="" ng-click="setCurrent(pagination.current - 1)"><i class="uk-icon-angle-left"></i></a>
    </li>
    <li ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" ng-class="{ 'uk-active' : pagination.current == pageNumber, 'uk-disabled' : pageNumber == '...' }">
        <a href="" ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
    </li>

    <li ng-if="directionLinks" ng-class="{ 'uk-disabled' : pagination.current == pagination.last }">
        <a href="" ng-click="setCurrent(pagination.current + 1)"><i class="uk-icon-angle-right"></i></a>
    </li>
    <li ng-if="boundaryLinks" ng-class="{ 'uk-disabled' : pagination.current == pagination.last }">
        <a href="" ng-click="setCurrent(pagination.last)"><i class="uk-icon-angle-double-right"></i></a>
    </li>
</ul>