<div data-ng-controller="FollowingCtrl">
    <div class="repo-content">
        <div class="uk-grid">
            <div class="uk-width-1-1" dir-paginate="follower in storedFollowers| itemsPerPage: perPage" total-items="totalFollowers" current-page="pagination.current">
                <div class="uk-panel angularhub-panel">
                    <div class="uk-grid">
                        <div class="uk-width-8-10">
                            <div class="uk-grid">
                                <div class="uk-width-2-10"><img class="uk-comment-avatar uk-border-rounded" data-ng-src="{{follower.avatar_url}}" /></div>
                                <div class="uk-width-8-10">
                                    <span class="nama-lengkap-f">Nama Lengkap</span>&nbsp;<span class="nama-login-f"><a href="" class="my-link"><span class="uk-text-muted">{{follower.login}}</span></a></span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <ul class="uk-subnav uk-subnav-line">
                                        <li><i class="uk-icon-users"></i> Company</li>
                                        <li><i class="uk-icon-map-marker"></i> Lokasi</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-2-10 uk-text-middle"><button class="uk-button uk-align-right">Follow</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <dir-pagination-controls boundary-links="true" on-page-change="pageChanged(newPageNumber)" template-url="views/dirPagination.seklumit.tpl.html"></dir-pagination-controls>
</div>