<div data-ng-controller="HomeCtrl">
    <div class="uk-grid uk-grid-match uk-grid-small" data-uk-grid-match="{target:'.uk-panel'}">
        <div class="uk-width-1-1 uk-width-medium-1-2">
            <div class="uk-panel uk-panel-box uk-panel-box-secondary uk-margin-bottom">
                <a class="" href="">inirepo<span style="font-weight: bold">/reponya</span></a>
                <p style="margin: 0 0 0 0; padding: 0 0 0 0;"  class="uk-text-muted uk-text-small">Forked From <a class="my-link">forkedrepo</a> </p>
                <p class="uk-text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <ul class="uk-subnav">
                    <li><span class="uk-border-circle my-circle" style="{{getLangColor('C')}}"></span>C</li>
                    <li><span><i class="uk-icon-star-o"></i> 100</span></li>
                    <li><span><i class="uk-icon-code-fork"></i> 200</span></li>
                </ul>
            </div>
        </div>
        <div class="uk-width-1-1 uk-width-medium-1-2">
            <div class="uk-panel uk-panel-box uk-panel-box-secondary uk-margin-bottom">
                <a class="" href="">inirepo<span style="font-weight: bold">/reponya</span></a>
                <p style="margin: 0 0 0 0; padding: 0 0 0 0;"  class="uk-text-muted uk-text-small">Forked From <a class="my-link">forkedrepo</a> </p>
                <p class="uk-text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <ul class="uk-subnav">
                    <li><span class="uk-border-circle my-circle" style="{{getLangColor('Java')}}"></span>Java</li>
                    <li><span><i class="uk-icon-star-o"></i> 100</span></li>
                    <li><span><i class="uk-icon-code-fork"></i> 200</span></li>
                </ul>
            </div>
        </div>
        <div class="uk-width-1-1 uk-width-medium-1-2">
            <div class="uk-panel uk-panel-box uk-panel-box-secondary uk-margin-bottom">
                <a class="" href="">inirepo<span style="font-weight: bold">/reponya</span></a>
                <p style="margin: 0 0 0 0; padding: 0 0 0 0;"  class="uk-text-muted uk-text-small">Forked From <a class="my-link">forkedrepo</a> </p>
                <p class="uk-text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <ul class="uk-subnav">
                    <li><span class="uk-border-circle my-circle" style="{{getLangColor('JavaScript')}}"></span>JavaScript</li>
                    <li><span><i class="uk-icon-star-o"></i> 100</span></li>
                    <li><span><i class="uk-icon-code-fork"></i> 200</span></li>
                </ul>
            </div>
        </div>
        <div class="uk-width-1-1 uk-width-medium-1-2">
            <div class="uk-panel uk-panel-box uk-panel-box-secondary uk-margin-bottom">
                <a class="" href="">inirepo<span style="font-weight: bold">/reponya</span></a>
                <p style="margin: 0 0 0 0; padding: 0 0 0 0;"  class="uk-text-muted uk-text-small">Forked From <a class="my-link">forkedrepo</a> </p>
                <p class="uk-text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <ul class="uk-subnav">
                    <li><span class="uk-border-circle my-circle" style="{{getLangColor('PHP')}}"></span>PHP</li>
                    <li><span><i class="uk-icon-star-o"></i> 100</span></li>
                    <li><span><i class="uk-icon-code-fork"></i> 200</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="uk-grid">
        <div class="uk-width-1-1"><h3 style="font-size: 16px;">1,600 Contributions in the last year</h3></div>
        <div class="uk-width-1-1">
            <div style="font-size: 12px;" class="uk-panel uk-panel-box uk-panel-box-secondary">
                <img src="http://ghchart.rshah.org/andhikamaheva" alt="2016rshah's Github chart" />
            </div>
        </div>
    </div>
</div>