<div data-ng-controller="RepoCtrl">
    <div style="border-bottom: 1px solid #DDD; padding-bottom: 15px;" class="repo-search">
        <div class="uk-grid uk-grid-small">
            <div class="uk-width-medium-6-10">
                <div class="uk-form">
                    <input type="text" id="form-s-it" class="uk-width-1-1" placeholder="Search Repositories..."/>
                </div>
            </div>
            <div class="uk-width-medium-2-10"><button type="button" class="uk-button uk-width-1-1">Type</button></div>
            <div class="uk-width-medium-2-10"><button type="button" class="uk-button uk-width-1-1">Language</button></div>
        </div>
    </div>
    <div class="repo-content">
        <div class="uk-grid">
            <div class="uk-width-1-1" dir-paginate="repo in storedRepos | itemsPerPage: perPage" total-items="totalRepos" current-page="pagination.current">
                <div class="uk-panel angularhub-panel">
                    <h3 class="uk-panel-title"><a href="">{{repo.name}}</a></h3>
                    <div class="uk-grid">
                        <div class="uk-width-7-10">
                            <div class="forked-from"><span class="uk-text-small">Forked From <a href="">Test Fork</a> </span></div>
                            <p>{{repo.description}}</p>
                            <ul class="uk-subnav">
                                <li ng-if="repo.language !== null"><span class="uk-border-circle my-circle" style="{{getLangColor(repo.language)}}"></span>{{repo.language}}</li>
                                <li><span><i class="uk-icon-star-o"></i> {{repo.stargazers_count}}</span></li>
                                <li><span><i class="uk-icon-code-fork"></i> {{repo.stargazers_count}}</span></li>
                                <li><span class="uk-text-muted">Updated On {{repo.updated_at | date: 'medium'}}</span></li>
                            </ul>
                        </div>
                        <div class="uk-width-3-10"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <dir-pagination-controls boundary-links="true" on-page-change="pageChanged(newPageNumber)" template-url="views/dirPagination.seklumit.tpl.html"></dir-pagination-controls>
</div>